.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 4px;
  background-color: #fff;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  li {
    width: 100%;
    display: block;
    padding: 3px;

    &:not(.helper-item) {
      cursor: pointer;

      &:hover {
        background-color: hsl(0, 0%, 86%);
      }
    }
  }
}

.input {
  &.error {
    border-color: hsl(348, 100%, 61%);
  }
}